[Unit]
Description=This is demo service file.
After=servicename
User=diwakar
Group=STL
AmbientCapabilities=CAP_MAC_OVERRIDE CAP_MAC_OVERRIDE CAP_SYS_ADMIN
[Service]
Type=oneshot
ExecStart=/usr/local/test_exe servicename system 


[Install]
WantedBy=multi-user.target



