[Unit]
Description=Service to log the vera application logs.
After=stemd
User=ldlogger
Group=amazon-logger

[Service]
Type=oneshot
ExecStart=/usr/local/test_exe servicename system 


[Install]
WantedBy=multi-user.target



